<div style="padding-left:25%;padding-right:25%;">
<h1>
  {{title}}
</h1>
<br>
<ul *ngFor="let item of items | async">
  <li class="text">
    {{item.label}} taken by {{item.by}} for {{item.cost}} 
  </li>
</ul><br><br>

<div class="input-group input-group-lg">
  <!--<label for="alterEgo">By</label>-->
  <span class="input-group-addon">By</span>
  <input type="text"  class="form-control"
    [(ngModel)]="user.by">
</div>
<br><br>
<div class="input-group input-group-lg">
  <!--<label for="name">Cost</label>-->
  <span class="input-group-addon">Cost</span>
  <input type="text" class="form-control" required
    [(ngModel)]="user.cost" >
</div>
<br><br>
<div class="input-group input-group-lg">
  <!--<label for="name">Label</label>-->
  <span class="input-group-addon">Label</span>
  <input type="text" class="form-control" required
    [(ngModel)]="user.label" >
</div>

<br><br><br><br>

<button type="button" class="btn btn-success btn-lg" (click)="save(user)" style="margin-left:25%; width:50%">Save</button>
</div>
